/*Black Text where needed across the pages*/
.text-black {
color: #000000;
}

/*Base page styles across all pages includes the background, font, text color*/
body{
    background-color: #EDEEE9;
    font-family: Sans-serif;
    line-height: 1.6;
    color: #000000;
    margin: 0;
}

/*Navigation Bar */
nav {
    background-color: #fffaf3;
    padding: 20px;
    text-align: left;
}

/*Navigation links styling: color, font weight, text transform*/
nav a {
color: #000000;
font-weight: 600;
text-transform: uppercase;
}

/*Navigation links hover effect: color change*/
nav a:hover {
    color: #e79805;
}

/*Page header styles*/
header {
    padding: 20px;
    background-color: #fffaf3;
}

/*Header figure styling: float right, margin left for spacing*/
header figure {
    float: right;
    margin-left: 20px;
}

/*heading color shared across all pages*/
h1, h2, h3 {
    color: #000000;
}

/*Horizontal rule styling shared across all pages*/
hr {
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

/*Constraining the body width for better readability and centering it on the page*/
body {
    max-width: 800px;
    margin: 0 auto;
}

/*Paragraph styling shared across all pages: font size and color*/
p {
font-size: 1rem;
color: #000000;
}

/*Consistent styling around each section*/
section {
    padding: 20px;
}

/*Shared "card" style used for projects, services, work history, skills, awards and contact information*/
.project-card,
.service-card,
.work-history-card,
.skills-card,
.award-card,
.contact-card
{
    background-color: #fffaf3;
    color: #000000;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

/*Site footer copyright line, shared across all pages*/
footer {
    border-top: 1px solid #ccc;
    background-color: #fffaf3;
    color: #000000;
    text-align: center;
    padding: 30px;
}

/*Media queries for responsive design, adjusting styles based on screen width*/
/*Smaller phone screens*/
@media (max-width: 400px) {
}
/*Large phones / small tablets
@media (min-width: 401px) {
}
/*Laptop and desktop screens*/
@media (min-width: 1020px) { 
}

